# Copyright (c) 2026 badjeff
# SPDX-License-Identifier: Apache-2.0

config GPIO_ADS1220
	bool "GPIO ADS1220"
	default y
	depends on DT_HAS_TI_ADS1220_GPIO_ENABLED
	depends on ADC_ADS1220
	help
	  Enable the driver for ADS1220 GPIO.
